services:
  server:
    build: ./server
    container_name: conundrum-server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    environment:
      - NODE_ENV=production

  client:
    build:
      context: ./client
      args:
        REACT_APP_API_URL: http://localhost:5000
    container_name: conundrum-client
    ports:
      - "3000:3000"
    depends_on:
      - server
