@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#dispay-game-on-screen {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    align-self: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-height: none;
}


/*#crossword-and-clues {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 95%;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid green;
}*/

#crossword-and-clues {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    width: calc(95% - 20px);
    padding: 20px 20px 20px 0;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#crossword-container {
    overflow: auto;
    scrollbar-width: none;
}

#crossword-container, #clues-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 30px;
    padding: 25px;
    background: rgba(81, 56, 136, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 2px 1px rgba(255, 255, 255, 0.1);
}

#crossword-container::before, #clues-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

#crossword-container::after, #clues-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

#clues-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 30px;
}

.crossword-table td {
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border-radius: 0px;
}

/* первая буква горизонтального */
td.cross {
    border-radius: 0;
}

td.first-letter-horizontal:not(.cross) {
    border-radius: 5px 0 0 5px;
}

td.last-letter-horizontal:not(.cross) {
    border-radius: 0 5px 5px 0;
}

td.first-letter-vertical:not(.cross) {
    border-radius: 5px 5px 0 0;
}

td.last-letter-vertical:not(.cross) {
    border-radius: 0 0 5px 5px;
}

td.cross.first-letter-horizontal.first-letter-vertical {
    border-radius: 5px 0 0 0;
}

td.cross.last-letter-horizontal.first-letter-vertical {
    border-radius: 0 5px 0 0;
}

td.cross.first-letter-horizontal.last-letter-vertical {
    border-radius: 0 0 0 5px;
}

td.cross.last-letter-horizontal.last-letter-vertical {
    border-radius: 0 0 5px 0;
}


td.crossword-cell {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    position: relative;
}

td.crossword-cell span {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    color:#513888;
}

td.black-cell  {
    border: transparent;
}

span.word-number {
    color:#2F2D38;
}

input.crossword-input {
    border: none;
    width: 45px;
    height: 45px;
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    color:#FBFBFE;
    font-weight: 500;
    text-shadow: 0px 3px 5px rgba(47, 45, 56, 1);
    caret-color: #513888;
}

input.crossword-input:focus {
    outline: none;
    
}

.clues-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.clues-section h3 {
    font-size: 20px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    color: #FBFBFE;
}

.word-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-weight: 500;
}

.word-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    align-items: stretch;
}

.clue-position {
    max-width: 15px;
}

.word-item span {
    font-size: 20px;
    line-height: 1.5;
    align-self: self-start;
    color: #FBFBFE;
}

.clue-text-content {
    text-align: justify;
}

.show-answer-button {
    height: fit-content;
    margin-left: auto;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 2px 8px;
    font-size: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 2px 1px rgba(255, 255, 255, 0.1);
}

.show-answer-button span {
    line-height: 1.2;
}

.show-answer-button:focus {
    outline: none;
}

.show-answer-button svg {
    display: block;
    width: 24px;
    height: 24px;
    path {
        stroke: #FBFBFE;
    }
}


.word-soup-container {
    -webkit-overflow-scrolling: touch;
    touch-action: none;
    overflow: auto;
    scrollbar-width: none;
    aspect-ratio: 1 / 1;
}

.word-soup-grid {
    display: inline-block;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    position: relative;
    border-radius: 15px;
    overscroll-behavior: contain;
    table-layout: fixed;
}

.word-soup-cell {
    background: white;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: background-color 0.2s;
    height: 40px;
    width: 40px;
    padding: 0;
    line-height: 0px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #513888;
    border-radius: 0px;
    font-weight: 500;
}

.word-soup-grid tr:first-child td:first-child {
    border-radius: 10px 0 0 0;
}

.word-soup-grid tr:first-child td:last-child {
    border-radius: 0 10px 0 0;
}

.word-soup-grid tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

.word-soup-grid tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.word-soup-cell.first-letter {
    background-color: rgba(81, 56, 136, 0.0);
    color: #FBFBFE;
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Стиль для выделенных ячеек */
.word-soup-cell.selected {
    background-color: rgba(81, 56, 136, 0.0);
    color:#FBFBFE;
}

/* Стиль для найденных слов */
.word-soup-cell.found {
    background-color: #62E953;
    color: #2F2D38;
}

/* Стиль для неправильного выбора */
.word-soup-cell.incorrect {
    background-color: #ED7E98;
    color:#FBFBFE;
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    75% { transform: translateX(2px); }
}

/* Запрещаем выделение текста на мобильных */
.word-soup-grid, .word-soup-cell {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

.victory-message {
    padding: 50px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #FBFBFE;
    transition: transform 0.5s ease;
}

.success-message {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 22px;
    line-height: 1.5;
    text-align: justify;
    color: #FBFBFE;
    transition: transform 0.5s ease;
}

.success-divider {
    height: 2px;
    background-color: #FBFBFE;
    width: 100%;
}

.success-message h2 {
    font-size: 30px;
    text-align: center;
}

#loading-indicator {
    border-radius: 50%;
}

@media (max-width: 1200px) {
    #crossword-and-clues {
        width: calc(90% - 20px);
    }

    #crossword-container, #clues-container {
        border-radius: 20px;
        padding: 20px;
    }

    #clues-container {
        gap: 20px;
    }

    .crossword-table td {
        width: 40px;
        height: 40px;
    }

    input.crossword-input {
        width: 40px;
        height: 40px;
    }

    .show-answer-button {
        height:fit-content;
        gap: 5px;
        padding: 2px 8px;
        font-size: 20px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        box-shadow: 
            0 8px 32px rgba(0, 0, 0, 0.1),
            inset 0 1px 0 rgba(255, 255, 255, 0.5),
            inset 0 -1px 0 rgba(255, 255, 255, 0.1),
            inset 0 0 2px 1px rgba(255, 255, 255, 0.1);
    }

    .word-soup-cell {
        width: 35px; 
        height: 35px;
    }

    .success-message h2 {
        font-size: 25px;
    }

    .success-message {
        gap: 20px;
        font-size: 20px;
    }
}




@media (max-width: 1199px) and (min-width: 601px) {
    #crossword-and-clues {
        width: calc(100% - 12px);
        padding: 90px 12px 12px 0;
    }

    #crossword-container, #clues-container {
        border-radius: 15px;
        padding: 15px;
    }

    #crossword-container {
        overflow: auto;
        scrollbar-width: none;
    }

    #clues-container {
        gap: 20px;
    }

    .crossword-table td {
        width: 40px;
        height: 40px;
    }

    input.crossword-input {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }


    .word-soup-cell {
        width: 30px;
        height: 30px;
    }

    .success-message h2 {
        font-size: 25px;
    }

    .success-message {
        gap: 20px;
        font-size: 20px;
    }

    .word-soup-container, .word-soup-grid {
        border-radius: 10px;
    }
}


@media (hover: none) {
    .word-soup-cell {
        touch-action: manipulation; /* Оптимизация для касаний */
    }
}

@media (max-width: 600px) {
    #crossword-and-clues {
        width: calc(100% - 6px);
        padding: 75px 6px 20px 0;
    }

    #crossword-container, #clues-container {
        border-radius: 13px;
        padding: 10px;
    }

    #crossword-container {
        overflow: auto;
        scrollbar-width: none;
    }

    #clues-container {
        gap: 20px;
    }

    .crossword-table td {
        width: 30px;
        height: 30px;
    }

    input.crossword-input {
        width: 30px;
        height: 30px;
        font-size: 18px;
    }

    td.crossword-cell span {
        font-size: 12px;
    }

    .clues-section h3 {
        font-size: 18px;
    }

    .word-item span {
        font-size: 18px;
    }

    .show-answer-button {
        padding: 2px 4px;
        font-size: 18px;
        border-radius: 5px;
    }

    .show-answer-button span {
        font-size: 18px;
    }

    .show-answer-button svg {
        width: 20px;
        height: 20px;
    }

    .word-soup-container, .word-soup-grid {
        border-radius: 10px;
    }


    .word-soup-cell {
        width: 25px;
        height: 25px;
        font-size: 18px;
        padding: 0 4px;
        line-height: 1.5;
    }

    .success-message h2 {
        font-size: 16px;
    }

    .success-message {
        gap: 20px;
        font-size: 16px;
    }
}


@media (hover: none) {
    .word-soup-cell {
        touch-action: manipulation; /* Оптимизация для касаний */
    }
}