@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

#game-header button {
    color:#FBFBFE;
}

#game-header {
    background-color: rgba(81, 56, 136, 0.8);
}

#game-header.main-page-header.hidden {
    background-color: transparent;
}

#game-go-to-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #FBFBFE;
    svg path {
        stroke: #FBFBFE;
    }
}


#game-go-to-profile:hover, #game-go-to-profile:hover > svg path {
    border: 1px solid rgba(237, 126, 152, 0.8);
    stroke: rgba(237, 126, 152, 0.8);
    transition: all 0.2s ease;
}

#game-go-to-profile:active, #game-go-to-profile:active > svg path {
    border: 1px solid rgba(237, 126, 152, 0.8);
    stroke: rgba(237, 126, 152, 0.8);
    transition: all 0.2s ease;
}

#game-main-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#game-logotype {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 124px;
}

#game-go-to-profile svg {
    display: block;
    width: 40px;
    height: 40px;
}

#crossword-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 648px;
    overflow-y: auto;
    padding-right: 25px;
}

#crossword-form h2 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    align-self: center;
}



.main-page-header button:hover {
    color: rgba(237, 126, 152, 0.8);
}

.main-page-header button:active {
    color: rgba(237, 126, 152, 0.8);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.game-generator-slidebar-hidden, .game-generator-slidebar-visible {
    display: flex;
    position: absolute;
    left: 20px;
    top: 50%;
    
    transform: translateY(-50%);
    background: rgba(81, 56, 136, 0.8);
    border-radius: 15px;
    overflow: hidden;
    padding: 0;
    max-width: 0;
    opacity: 0;
    transition: max-width 0.7s ease, opacity 0.2s ease, padding 0.2s ease;
    white-space: nowrap;
}

.game-generator-slidebar-hidden.visible, .game-generator-slidebar-visible.visible {
    max-width: 100vw;
    opacity: 1;
    padding: 24px;
    z-index: 10;
}

.generator-slidebar-visible, .generator-slidebar-hidden {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    svg {
        display: block;
        width: 32px;
        height: 32px;
    }
}

.game-menu-handler, .game-puzzle-creator, .game-my-puzzles {
    display: flex;
    cursor: pointer;
    svg {
        display: block;
        width: 32px;
        height: 32px;
    }
}


.game-menu-handler:hover, .game-my-puzzles:hover {
    svg path {
        stroke: #ED7E98;
        transition: stroke 0.2s ease;
    }
}

.game-menu-handler-open, .game-puzzle-creator-open, .game-my-puzzles-open {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    p {
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.5px;
        color: #FBFBFE;
    }
    svg {
        display: block;
        width: 32px;
        height: 32px;
    }
}

.game-menu-handler-open:hover {
    rect {
        fill: #ED7E98;
        transition: fill 0.2s ease;
    }
    p {
        color: #ED7E98;
        transition: color 0.2s ease;
    }
}

.game-puzzle-creator:hover {
    svg path {
        fill: #ED7E98;
        transition: fill 0.2s ease;
    }
}



.game-puzzle-creator-open:hover {
    svg path {
        fill: #ED7E98;
        transition: fill 0.2s ease;
    }
    p {
        color: #ED7E98;
        transition: color 0.2s ease;
    }
}

.game-my-puzzles-open:hover {
    svg path {
        stroke: #ED7E98;
        transition: stroke 0.2s ease;
    }
    p {
        color: #ED7E98;
        transition: color 0.2s ease;
    }
}

.creating-puzzle-input-data.hidden {
    max-height: 0;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    opacity: 0;
    margin-top: -16px;
    transition: 
    padding 0.4s ease, 
    max-height 0.4s ease, 
    opacity 1s ease, 
    margin-top 0.4s ease, 
    background-color 0.5s ease, 
    color 0.5s ease;
}


.creating-puzzle-input-data.visible {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0 25px 25px;
    border-radius: 15px;
    opacity: 1;
    transition: 
    padding 0.4s ease, 
    max-height 0.4s ease, 
    opacity 1s ease, 
    margin-top 0.4s ease, 
    background-color 0.5s ease, 
    color 0.5s ease;
    
}



.input-puzzle-name {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-align: center;
    background-color: transparent;
    border-radius: 50px;
    border: 3px solid #513888;
    margin-bottom: 20px;
}

.input-puzzle-name:focus {
    outline: none;
}

.input-type-of-puzzle, .input-interaction-format {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
}

.topic-input, .text-input {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(81, 56, 136, 0.8);
    border-radius: 15px;
}

.topic-input input {
    width: 100%;
    box-sizing: border-box;
    background: rgba(47, 45, 56, 0.8);
    border: 2px solid #FBFBFE;
    border-radius: 15px;
    font-family: 'Roboto Slab';
    font-style: normal;
    text-align: center;
    padding: 0 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
    letter-spacing: 0.5px;
}

.topic-input input:focus, .text-input-textarea:focus {
    outline: none;
}

.text-input-textarea {
    box-sizing: border-box;
    resize: none; 
    border: 2px solid #FBFBFE;
    border-radius: 15px; 
    padding: 10px; 
    font-family: 'Roboto Slab';
    font-style: normal;
    text-align: left;
    font-weight: 400;
    font-size: 16px; 
    line-height: 1.2;
    overflow-y: auto;
    min-width: 100%;
    width: 100%;
    min-height: 100px;
    height: 100px;
}


.text-input-textarea::-webkit-scrollbar {
    width: 8px;
    display: none;
}

.text-input-textarea::-webkit-scrollbar-track {
    background: rgba(81, 56, 136, 0.5); 
    border-radius: 5px; 
}

.text-input-textarea::-webkit-scrollbar-thumb {
    background: #8663d4; 
    border-radius: 5px; 
}

.text-input-textarea::-webkit-scrollbar-thumb:hover {
    background: #a081e6; 
}

.file-input {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(81, 56, 136, 0.8); 
    border-radius: 15px; 
    width: 100%; 
    height: 48px; 
    cursor: pointer;
    position: relative;
}

.file-input input[type="file"] {
    opacity: 0; 
    position: absolute; 
    width: 100%;
    height: 100%;
    cursor: pointer; 
}

.file-input-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #624599; 
    border-radius: 12px; 
    cursor: pointer;
}

.file-input-label svg {
    display: block;
    width: 32px;
    height: 32px;
}

.input-puzzle-size {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 20px;
}

.input-puzzle-size input {
    box-sizing: border-box;
    display: flex;
    width: 68px;
    text-align: center;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #513888;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.5px;
    text-align: center;
}

.input-puzzle-size input:focus {
    outline: none;
}

.open-full-settings-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 15px;
    border: none;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    margin-bottom: 40px;
}

.open-full-settings-button h3 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.generate-puzzle-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 34px;
    background: #62E953;
    border: 2px solid transparent;
    border-radius: 15px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.generate-puzzle-button:hover {
    color: #ED7E98;  
    border: 2px solid #ED7E98;  
    transition: all 0.2s ease;
}

.generate-puzzle-button:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0s;
}

.game-theme-changer {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.input-difficulty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.input-difficulty.open {
    max-height: 100vh;
    transition: max-height 0.4s ease;
}

.difficulty-choice {
    margin-top: 10px;
}

.difficulty-levels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}


input[name="difficulty"]:not(:checked) + label::before {
    background: none; 
}


@media (max-width: 768px) {
    #game-main-page {
        height: 110vh;
    }

    .game-generator-slidebar-hidden, .game-generator-slidebar-visible {
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 10px;
    }

    #game-go-to-profile svg {
        display: block;
        width: 30px;
        height: 30px;
    }

    #game-go-to-profile {
        width: 30px;
        height: 30px;
        align-self: center;
    }

    #game-logotype {
        width: 80%;
        height: auto;
    }
    
    .game-generator-slidebar-hidden, .game-generator-slidebar-visible {
        left: 5px;
        border-radius: 10px;
    }

    .game-generator-slidebar-hidden.visible, .game-generator-slidebar-visible.visible {
        padding: 10px;
    }

    .generator-slidebar-visible, .generator-slidebar-hidden {
        gap: 10px;
        svg {
            display: block;
            width: 25px;
            height: 25px;
        }
    }

    .game-menu-handler, .game-puzzle-creator, .game-my-puzzles {
        svg {
            width: 25px;
            height: 25px;
        }
    }
    
    .game-menu-handler-open, .game-puzzle-creator-open, .game-my-puzzles-open {
        gap: 10px;
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
        }
        svg {
            display: block;
            width: 25px;
            height: 25px;
        }
    }

    .game-my-puzzles-open {
        margin-top: 5px;
    }
    
    .creating-puzzle-input-data.visible {
        padding: 10px 0px 10px 10px;
        border-radius: 10px;
    }

    #crossword-form {
        max-height: 500px;
        padding-right: 10px;
    }

    #crossword-form h2 {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }

    .input-puzzle-name {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        border-radius: 10px;
        border: 2px solid #513888;
        margin-bottom: 15px;
        padding: 5px 5px;
    }

    .input-type-of-puzzle, .input-interaction-format {
        gap: 5px;
        margin-bottom: 15px;
    }

    .topic-input, .text-input {
        border-radius: 10px;
    }

    .topic-input input {
        border: 1px solid #FBFBFE;
        border-radius: 7px;
        padding: 5px 5px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }

    .text-input-textarea {
        border: 1px solid #FBFBFE;
        border-radius: 8px; 
        padding: 8px; 
        font-size: 14px; 
        line-height: 21px;
        min-height: 90px;
        height: 90px;
    }

    .file-input {
        border-radius: 10px; 
        height: 36px; 
    }

    .input-puzzle-size {
        gap: 8px;
        margin-bottom: 15px;
    }
    
    .input-puzzle-size input {
        width: 50px;
        border-radius: 10px;
        border: 2px solid #513888;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }

    .open-full-settings-button {
        padding: 5px 8px;
        border-radius: 15px;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 20px;
    }

    .open-full-settings-button h3 {
        font-size: 14px;
        line-height: 21px;
    }

    .generate-puzzle-button {
        padding: 8px 20px;
        border: 1px solid transparent;
        border-radius: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }

    .game-theme-changer {
        right: 15px;
        bottom: 15px;
    }

    .input-difficulty {
        gap: 5px;
    }

    .difficulty-choice {
        margin-top: 5px;
    }

    .difficulty-levels {
        gap: 5px;
    }
}


@media (max-width: 850px) and (min-width: 769px) {
    #game-main-page {
        height: 100vh;
    }

    .game-generator-slidebar-hidden, .game-generator-slidebar-visible {
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 10px;
    }

    #game-go-to-profile svg {
        display: block;
        width: 30px;
        height: 30px;
    }

    #game-go-to-profile {
        width: 30px;
        height: 30px;
        align-self: center;
    }

    #game-logotype {
        width: 80%;
        height: auto;
    }
    
    .game-generator-slidebar-hidden, .game-generator-slidebar-visible {
        left: 5px;
        border-radius: 10px;
    }

    .game-generator-slidebar-hidden.visible, .game-generator-slidebar-visible.visible {
        padding: 10px;
    }

    .generator-slidebar-visible, .generator-slidebar-hidden {
        gap: 10px;
        svg {
            display: block;
            width: 30px;
            height: 30px;
        }
    }

    .game-menu-handler, .game-puzzle-creator, .game-my-puzzles {
        svg {
            width: 30px;
            height: 30px;
        }
    }
    
    .game-menu-handler-open, .game-puzzle-creator-open, .game-my-puzzles-open {
        gap: 10px;
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
        svg {
            display: block;
            width: 30px;
            height: 30px;
        }
    }

    .game-my-puzzles-open {
        margin-top: 5px;
    }
    
    .creating-puzzle-input-data.visible {
        padding: 15px 0px 15px 15px;
        border-radius: 10px;
    }

    #crossword-form {
        max-height: 700px;
        padding-right: 15px;
    }

    #crossword-form h2 {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    .input-puzzle-name {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        border-radius: 10px;
        border: 2px solid #513888;
        margin-bottom: 20px;
        padding: 5px 5px;
    }

    .input-type-of-puzzle, .input-interaction-format {
        gap: 10px;
        margin-bottom: 20px;
    }

    .input-type-of-puzzle div label, .input-interaction-format div label, .difficulty-levels div label {
        font-size: 16px;
        line-height: 24px;
    }

    .topic-input, .text-input {
        border-radius: 10px;
    }

    .topic-input input {
        border: 1px solid #FBFBFE;
        border-radius: 7px;
        padding: 5px 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    .text-input-textarea {
        border: 1px solid #FBFBFE;
        border-radius: 8px; 
        padding: 8px; 
        font-size: 16px; 
        line-height: 24px;
        min-height: 100px;
        height: 100px;
    }

    .file-input {
        border-radius: 10px; 
        height: 45px; 
    }

    .input-puzzle-size h2 {
        font-size: 16px;
        line-height: 24px;
    }

    .input-puzzle-size {
        gap: 8px;
        margin-bottom: 20px;
    }
    
    .input-puzzle-size input {
        width: 50px;
        border-radius: 10px;
        border: 2px solid #513888;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    .open-full-settings-button {
        padding: 5px 8px;
        border-radius: 15px;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .open-full-settings-button h3 {
        font-size: 16px;
        line-height: 24px;
    }

    .generate-puzzle-button {
        padding: 8px 20px;
        border: 1px solid transparent;
        border-radius: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    .game-theme-changer {
        right: 15px;
        bottom: 15px;
    }

    .input-difficulty {
        gap: 5px;
    }

    .difficulty-choice {
        margin-top: 5px;
    }

    .difficulty-levels {
        gap: 5px;
    }
}