@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.main-page-header {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    padding: 6px 22px;
    border-radius: 15px;
    max-width: 100%;
    width: fit-content; 
    z-index: 1000;
    margin: 12px auto 0 auto;
}



.main-page-header button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 14px;
    font-size: 20px;
    text-align: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

.main-page-header .go-main-page-button {
    padding: 0px;
    svg {
        height: 40px;
    }
}

.main-page-header .go-main-page-button svg path:hover {
    fill: rgba(237, 126, 152, 1);
}

.main-page-header button:hover {
    color: rgba(237, 126, 152, 1);
}

.main-page-header button:not(.go-main-page-button):active {
    color: rgba(237, 126, 152, 1);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.main-page-header .start-button,
.main-page-header .go-to-profile-button-if-logged-in {
    padding: 7px;
    svg {
        width: 26px;
    }
}

.main-page-header .start-button:hover {
    svg {
        fill: rgba(237, 126, 152, 1);
        transition: fill 0.2s ease;
    }
}

.main-page-header .go-to-profile-button-if-logged-in:hover {
    svg {
        path {
            fill: rgba(237, 126, 152, 1);
            transition: fill 0.2s ease;
        }
    }
}

.functional-buttons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}



@media (max-width: 550px) {
    .main-page-header {
        gap: 7px;
        padding: 6px 10px;
        border-radius: 10px;
        max-width: 98%;
        margin: 8px auto 0 auto;
    }

    .main-page-header button{
        padding: 1px 8px;
        font-size: 18px;
    }

    .main-page-header .go-main-page-button {
        svg {
            height: 20px;
        }
    }

    .main-page-header button:not(.go-main-page-button):active {
        border-radius: 5px;
    }

    .main-page-header .about-button {
        display: none;
    }

    .main-page-header .start-button,
    .main-page-header .go-to-profile-button-if-logged-in, 
    .main-page-header .theme-changer-button {
        padding: 5px;
        svg {
            width: 18px;
        }
    }
}

@media (max-width: 820px) and (min-width: 549px) {
    .main-page-header {
        gap: 15px;
        padding: 6px 15px;
        border-radius: 13px;
        max-width: 95%;
        margin: 12px auto 0 auto;
    }

    .main-page-header button{
        padding: 4px 14px;
        font-size: 20px;
    }

    .main-page-header .go-main-page-button {
        svg {
            height: 30px;
        }
    }

    .main-page-header button:not(.go-main-page-button):active {
        border-radius: 15px;
    }

    .main-page-header .about-button {
        display: none;
    }

    .main-page-header .start-button,
    .main-page-header .go-to-profile-button-if-logged-in, 
    .main-page-header .theme-changer-button {
        padding: 5px;
        svg {
            width: 26px;
        }
    }
}