@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: 'Roboto Slab';
    font-style: normal;
    letter-spacing: 0.5px;
    color: #FBFBFE;
}

.black-theme {
    .main-page-header {
        background: rgba(47, 45, 56, 0.8);
        transition: background-color 0.5s ease;
    }


    .start-button {
        border: 1px solid #FBFBFE;
        transition: border 0.5s ease;
    }


    .main-page-header button {
        color: #FBFBFE;
        transition: color 0.5s ease;
    }



    .main-logo-title svg path {
        fill: #2F2D38;
        transition: fill 0.5s ease;
    }

    .main-logo-title h1 {
        color: rgba(47, 45, 56, 0.8);
        transition: color 0.5s ease;
    }

    .theme-changer {
        background: rgba(47, 45, 56, 0.8);
        transition: background-color 0.5s ease;
    }

    #game-theme-changer {
        background: rgba(251, 251, 254, 0.8);
        transition: background-color 0.5s ease;
    }

    .white-theme-switch path{
        stroke: #FBFBFE;
        transition: stroke 0.5s ease;
    }

    #game-white-theme-switch path{
        stroke: #2F2D38;
        transition: stroke 0.5s ease;
    }

    .black-theme-switch path{
        stroke: #62E953;
        transition: stroke 0.5s ease;
    }

    #game-black-theme-switch path{
        stroke: #62E953;
        transition: stroke 0.5s ease;
    }

    .about-button.pressed, .manual-button.pressed {
        background: #FBFBFE;
        color: #2F2D38;
        border-radius: 15px;
        transition: background-color 0.5s ease, color 0.5s ease;
    }

    #game-about-popup-button.pressed, #game-manual-popup-button.pressed {
        background: #2F2D38;
        color: #FBFBFE;
        border-radius: 15px;
        transition: background-color 0.5s ease, color 0.5s ease;
    }

    #game-about-popup-logo path:not(:nth-child(2)) {
        fill: #FBFBFE;
        transition: fill 0.5s ease;
    }


    .about-popup, .manual-popup {
        background: #2F2D38;
        transition: background-color 0.5s ease;
    }

    .about-popup-div, .manual-popup-div {
        background: #513888;
        transition: background-color 0.5s ease;
    }

    #game-about-popup-div, #game-about-popup-div {
        background: #2F2D38;
        transition: background-color 0.5s ease;
    }


    .count-words-input-example {
        background: #2F2D38;
        transition: background-color 0.5s ease;
    }

    .count-words-input-example input {
        color: #FBFBFE;
        transition: color 0.5s ease;
    }

    .count-words-input-example p {
        color:#FBFBFE;
        transition: color 0.5s ease;
    }

    #game-count-words-input-example {
        background: #FBFBFE;
        transition: background-color 0.5s ease;
    }

    #game-count-words-input-example .count-words-input-example-p {
        color: #2F2D38;
        transition: color 0.5s ease;
    }

    #game-count-words-input-example input{
        color: #2F2D38;
        transition: color 0.5s ease;
    }

    .generate-button-example {
        color: #2F2D38;
        transition: color 0.5s ease;
    }

    .register-account, .login-account {
        background: #2F2D38;
        transition: background-color 0.5s ease;
    }

    .back-to-main-page path {
        stroke:#FBFBFE;
        transition: stroke 0.5s ease;
    }

    .register-title, .login-title {
        color: #FBFBFE;
        transition: color 0.5s ease;
    }

    .if-have-account p, .if-have-not-account p {
        color: #FBFBFE;
        transition: color 0.5s ease;
    }

    .sign-in-button, .sign-up-button {
        color: #62E953;
        transition: color 0.5s ease;
    }

    .reg-login-input, .reg-password-input, .reg-input-password-div,
    .log-login-input, .log-password-input, .log-input-password-div {
        background: #FBFBFE;
        color: #2F2D38;
        transition: background-color 0.5s ease, color 0.5s ease;
    }

    .eye-closed path, .eye-open path{
        stroke: #2F2D38;
        transition: stroke 0.5s ease;
    }

    .reg-birthday-input{
        background: #FBFBFE;
        transition: background-color 0.5s ease;
    }

    .reg-birthday-input input {
        background-color: #FBFBFE;
        color: #2F2D38;
        transition: background-color 0.5s ease, color 0.5s ease;
    }

    .reg-birthday-input svg g {
        stroke: #2F2D38;
        transition: stroke 0.5s ease;
    }

    .reg-role, .reg-gender {
        background: #FBFBFE;
        transition: background-color 0.5s ease;
    }

    .reg-role-select, .reg-gender-select {
        color: #2F2D38;
        transition: color 0.5s ease;
    }

    .reg-role-select option, .reg-gender-select option{
        background-color: #FBFBFE; 
        transition: background-color 0.5s ease;
    }

    .create-account-button, .login-account-button {
        border: 1px solid #FBFBFE;
        color: #FBFBFE;
        transition: border 0.5s ease, color 0.5s ease;
    }

    .sign-up-logotype path, .personal-account-logotype path {
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    .reg-role-select, .reg-gender-select {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path stroke="%232F2D38" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="m18 9-6 6-6-6" opacity="0.8"/></svg>');
        transition: background-image 0.5s ease;
    }

    .about-account-info {
        background: #2F2D38;
        color: #FBFBFE;
        transition: background-color 0.5s ease, color 0.5s ease;
    }

    .user-avatar {
        background: rgb(81, 56, 136);
        color: #FBFBFE;
        transition: background-color 0.5s ease, color 0.5s ease;
    }

    .password-edit-icon path {
        stroke: #FBFBFE;
        transition: stroke 0.5s ease;
    }

    .update-account-button {
        color:#FBFBFE;
        border: 1px solid #FBFBFE;
        transition: color 0.5s ease, border 0.5s ease;
    }

    .userdata-input-changer {
        color:#FBFBFE;
        text-decoration-color: #FBFBFE;
        transition: all 0.5s ease;
    }

    .userdata-input-changer::-webkit-input-placeholder {
        color: #FBFBFE;
        transition: color 0.5s ease;
    }

    #game-about-popup-paragraphs h3{
        color:#FBFBFE;
        transition: color 0.5s ease;
    }

    #game-about-popup-paragraphs p{
        color:#FBFBFE;
        transition: color 0.5s ease;
    }

    #game-about-popup-div h2 {
        color: #FBFBFE;
        transition: color 0.5s ease;
    }

    #game-about-popup-div p {
        color: #FBFBFE;
        transition: color 0.5s ease;
    }

    #game-start-button-example {
        color:#FBFBFE;
        border-color: #FBFBFE;
        transition: color 0.5s ease, border-color 0.5s ease;
    }

    #game-create-puzzle-button-example svg path {
        fill:#FBFBFE;
        transition: fill 0.5s ease;
    }

    #game-manual-item2 label{
        color:#FBFBFE;
        transition: color 0.5s ease;
    }

    #game-theme-changer-example {
        background-color: #FBFBFE;
        transition: background-color 0.5s ease;
    }

    #game-theme-changer-example svg path {
        stroke: #2F2D38;
        transition: stroke 0.5s ease;
    }

    #game-main-page {
        background-color: #2F2D38;
        transition: background-color 0.5s ease;
    }

    #game-logotype path {
        fill: #FBFBFE;
        transition: fill 0.5s ease;
    }

    .creating-puzzle-input-data {
        background-color: #2F2D38;
        color: #FBFBFE;
        transition: background-color 0.5s ease, color 0.5s ease;
    }

    .input-puzzle-name {
        color: #FBFBFE;
        transition: color 0.5s ease;
    }

    .input-puzzle-name::placeholder {
        color: #FBFBFE;
        transition: color 0.5s ease;
    }

    input[type="radio"] + label {
        color:#FBFBFE;
        transition: color 0.5s ease;
    }
    
    input[type="radio"] + label::before {
        background-color: #2F2D38;
        transition: background-color 0.5s ease;
    }

    .input-puzzle-size input {
        color: #FBFBFE;
        transition: color 0.5s ease;
    }

    .generate-puzzle-button {
        color: #2F2D38;
        transition: color 0.5s ease;
    }


    .topic-input input, .text-input-textarea {
        background-color: #2F2D38;
        color: #FBFBFE;
        transition: color 0.5s ease, background-color 0.5s ease;
    }

    .topic-input input::placeholder, .text-input-textarea::placeholder {
        color: #FBFBFE;
        transition: color 0.5s ease;
    }
}

.white-theme {
    .main-page-header {
        background: rgba(251, 251, 254, 0.8);
        transition: background-color 0.5s ease;
    }

    .start-button {
        border: 1px solid #2F2D38;
        transition: border 0.5s ease;
    }

    .main-page-header button {
        color: #2F2D38;
        transition: color 0.5s ease;
    }

    .main-logo-title svg path {
        fill: #FBFBFE;
        transition: fill 0.5s ease;
    }

    .main-logo-title h1 {
        color: rgba(251, 251, 254, 0.8);
        transition: color 0.5s ease;
    }

    .theme-changer {
        background: rgba(251, 251, 254, 0.8);
        transition: background-color 0.5s ease;
    }

    #game-theme-changer {
        background: rgba(47, 45, 56, 0.8);
        transition: background-color 0.5s ease;
    }

    .white-theme-switch path{
        stroke: #62E953;
        transition: stroke 0.5s ease;
    }

    #game-white-theme-switch path{
        stroke: #62E953;
        transition: stroke 0.5s ease;
    }

    .black-theme-switch path{
        stroke: #2F2D38;
        transition: stroke 0.5s ease;
    }

    #game-black-theme-switch path{
        stroke: #FBFBFE;
        transition: stroke 0.5s ease;
    }

    .about-button.pressed, .manual-button.pressed {
        background: #2F2D38;
        color: #FBFBFE;
        border-radius: 15px;
        transition: background-color 0.5s ease, color 0.5s ease;
    }

    #game-about-popup-button.pressed, #game-manual-popup-button.pressed {
        background: #FBFBFE;
        color: #2F2D38;
        border-radius: 15px;
        transition: background-color 0.5s ease, color 0.5s ease;
        
    }

    #game-about-popup-logo path:not(:nth-child(2)) {
        fill: #2F2D38;
        transition: fill 0.5s ease;
    }

    .about-popup, .manual-popup {
        background: #FBFBFE;
        transition: background-color 0.5s ease;
    }

    .about-popup-div, .manual-popup-div {
        background: rgba(81, 56, 136, 0.8);
        transition: background-color 0.5s ease;
    }

    #game-about-popup-div, #game-about-popup-div {
        background: #FBFBFE;
        transition: background-color 0.5s ease;
    }

    .count-words-input-example {
        background: #FBFBFE;
        transition: background-color 0.5s ease;
    }

    .count-words-input-example input {
        color: #2F2D38;
        transition: color 0.5s ease;
    }

    .count-words-input-example p {
        color: #2F2D38;
        transition: color 0.5s ease;
    }

    #game-count-words-input-example {
        background: #2F2D38;
        transition: background-color 0.5s ease;
    }

    #game-count-words-input-example .count-words-input-example-p {
        color: #FBFBFE;
        transition: color 0.5s ease;
    }

    #game-count-words-input-example input{
        border-color: #FBFBFE;
        color: #FBFBFE;
        transition: all 0.5s ease;
    }

    .generate-button-example {
        color: #FBFBFE;
        transition: color 0.5s ease;
    }

    .register-account, .login-account {
        background: #FBFBFE;
        transition: background-color 0.5s ease;
    }

    .back-to-main-page path {
        stroke: #2F2D38;
        transition: stroke 0.5s ease;
    }

    .register-title, .login-title {
        color: #2F2D38;
        transition: color 0.5s ease;
    }

    .if-have-account p, .if-have-not-account p {
        color: #2F2D38;
        transition: color 0.5s ease;
    }

    .sign-in-button, .sign-up-button {
        color: #14c700;
        transition: color 0.5s ease;
    }

    .reg-login-input, .reg-password-input, .reg-input-password-div,
    .log-login-input, .log-password-input, .log-input-password-div {
        background: #2F2D38;
        color:#FBFBFE;
        transition: background-color 0.5s ease, color 0.5s ease;
    }

    .eye-closed path, .eye-open path{
        stroke: #FBFBFE;
        transition: stroke 0.5s ease;
    }

    .reg-birthday-input{
        background: #2F2D38;
        transition: background-color 0.5s ease;
    }

    .reg-birthday-input input {
        background-color: #2F2D38;
        color: #FBFBFE;
        transition: background-color 0.5s ease, color 0.5s ease;
    }

    .reg-birthday-input svg g {
        stroke: #FBFBFE;
        transition: stroke 0.5s ease;
    }

    .reg-role, .reg-gender {
        background: #2F2D38;
        transition: background-color 0.5s ease;
    }

    .reg-role-select, .reg-gender-select {
        color: #FBFBFE;
        transition: color 0.5s ease;
    }

    .reg-role-select option, .reg-gender-select option{
        background-color: #2F2D38; 
        transition: background-color 0.5s ease;
    }

    .create-account-button, .login-account-button {
        border: 1px solid #2F2D38;
        color: #2F2D38;
        transition: border 0.5s ease, color 0.5s ease;
    }

    .sign-up-logotype path, .personal-account-logotype path  {
        opacity: 0.8;
        transition: opacity 0.5s ease;
    }

    .reg-role-select, .reg-gender-select {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path stroke="%23FBFBFE" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="m18 9-6 6-6-6" opacity="0.8"/></svg>');
        transition: background-image 0.5s ease;
    }

    .about-account-info {
        background: #FBFBFE;
        color: #2F2D38;
        transition: background-color 0.5s ease, color 0.5s ease;
    }

    .user-avatar {
        background: rgba(81, 56, 136, 0.8);
        color: #FBFBFE;
        transition: background-color 0.5s ease, color 0.5s ease;
    }

    .password-edit-icon path {
        stroke: #2F2D38;
        transition: stroke 0.5s ease;
    }

    .update-account-button {
        color:#2F2D38;
        border: 1px solid #2F2D38;
        transition: color 0.5s ease, border 0.5s ease;
    }

    .userdata-input-changer {
        color:#2F2D38;
        text-decoration-color: #2F2D38;
        transition: all 0.5s ease;
    }

    .userdata-input-changer::-webkit-input-placeholder {
        color: #2F2D38;
        transition: color 0.5s ease;
    }
    

    #game-about-popup-paragraphs h3{
        font-weight: 700;
        color:#2F2D38;
        transition: color 0.5s ease;
    }

    #game-about-popup-paragraphs p{
        font-weight: 700;
        color:#2F2D38;
        transition: color 0.5s ease;
    }

    #game-about-popup-div h2 {
        font-weight: 700;
        color: #2F2D38;
        transition: color 0.5s ease;
    }

    #game-about-popup-div p {
        font-weight: 700;
        color: #2F2D38;
        transition: color 0.5s ease;
    }

    #game-start-button-example {
        color:#2F2D38;
        border-color: #2F2D38;
        transition: color 0.5s ease, border-color 0.5s ease;
    }

    #game-create-puzzle-button-example svg path {
        fill:#2F2D38;
        transition: fill 0.5s ease;
    }

    #game-manual-item2 label{
        font-weight: 700;
        color:#2F2D38;
        transition: color 0.5s ease;
    }

    #game-theme-changer-example {
        background-color: #2F2D38;
        transition: background-color 0.5s ease;
    }

    #game-theme-changer-example svg path {
        stroke: #FBFBFE;
        transition: stroke 0.5s ease;
    }

    #game-main-page {
        background-color: #FBFBFE;
        transition: background-color 0.5s ease;
    }

    #game-logotype path {
        fill: #2F2D38;
        transition: fill 0.5s ease;
    }

    .creating-puzzle-input-data {
        background-color: #FBFBFE;
        color: #2F2D38;
        transition: background-color 0.5s ease, color 0.5s ease;
    }

    .input-puzzle-name {
        color: #2F2D38;
        transition: color 0.5s ease;
    }

    .input-puzzle-name::placeholder {
        color: #2F2D38;
        transition: color 0.5s ease;
    }

    input[type="radio"] + label {
        color:#2F2D38;
        transition: color 0.5s ease;
    }
    
    input[type="radio"] + label::before {
        background-color: #FBFBFE;
        transition: background-color 0.5s ease;
    }

    .input-puzzle-size input {
        color: #2F2D38;
        transition: color 0.5s ease;
    }

    .generate-puzzle-button {
        color: #FBFBFE;
        transition: color 0.5s ease;
    }

    .topic-input input, .text-input-textarea {
        background-color: rgba(251, 251, 254, 0.8);
        color: #2F2D38;
        transition: color 0.5s ease, background-color 0.5s ease;
    }

    .topic-input input::placeholder, .text-input-textarea::placeholder {
        color: #2F2D38;
        transition: color 0.5s ease;
    }
}

#game-about-popup, #game-manual-popup {
    background: rgba(81, 56, 136, 0.8);
}

#game-header button {
    color:#FBFBFE;
}

#game-header {
    background-color: rgba(81, 56, 136, 0.8);
}

#game-header.main-page-header.hidden {
    background-color: transparent;
}

.main-page-header {
    position: relative;
    display: flex;
    padding: 16px 32px;
    border-radius: 15px;
    max-width: 100%;
    width: fit-content; 
    z-index: 1000;
    margin: 20px auto 0 auto;
}

.main-page-header button{
    padding: 11px 35px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.5px;
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;
}

.start-button {
    border-radius: 15px;
    margin-right: 20px;
}

#game-go-to-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #FBFBFE;
    svg path {
        stroke: #FBFBFE;
    }
}

.start-button:hover {
    border: 1px solid rgba(237, 126, 152, 0.8);
    color: rgba(237, 126, 152, 0.8);
    transition: all 0.2s ease;
}

#game-go-to-profile:hover, #game-go-to-profile:hover > svg path {
    border: 1px solid rgba(237, 126, 152, 0.8);
    stroke: rgba(237, 126, 152, 0.8);
    transition: all 0.2s ease;
}

.main-page-header button:hover {
    color: rgba(237, 126, 152, 0.8);
}

.start-button:active {
    border: 1px solid rgba(237, 126, 152, 0.8);
    color: rgba(237, 126, 152, 0.8);
    transition: all 0.2s ease;
}

#game-go-to-profile:active, #game-go-to-profile:active > svg path {
    border: 1px solid rgba(237, 126, 152, 0.8);
    stroke: rgba(237, 126, 152, 0.8);
    transition: all 0.2s ease;
}

.main-page-header button:active {
    color: rgba(237, 126, 152, 0.8);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.background-video-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    z-index: -1; 
}


.main-logo-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    z-index: 10;
}

.main-logo-title svg {
    display: block;
}

.main-logo-title h1 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
}

.theme-changer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 15px 20px;
    border-radius: 15px;
}

.theme-changer-main-page {
    position: absolute;
    left: 30px;
    bottom: 20px;
}

.theme-changer svg {
    display: block;
    cursor: pointer;
}

.theme-changer svg:hover {
    path {
        stroke: #ED7E98;
        stroke-opacity: 1.0;
    }
}

.theme-changer svg:active {
    path {
        stroke: #ED7E98;
        stroke-opacity: 0.7;
    }
}


.about-popup, .manual-popup {
    position: absolute;
    left: 50%;
    top: 0;
    padding: 80px 32px 16px 32px;
    border-radius: 15px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s ease;
}

.about-popup.visible, .manual-popup.visible{
    opacity: 1;
    visibility: visible;
    animation: fadeIn 0.3s ease forwards;
}

.about-popup.hidden, .manual-popup.hidden {
    animation: fadeOut 0.3s ease forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -5px);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -5px);
    }
}


.about-popup-div, .manual-popup-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    width: 560px;
}

.about-popup-text h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.about-popup-text span {
    color: #ED7E98;
}

.about-popup-text .paragraph {
    margin-top: 16px;
}

.about-popup-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    line-height: 24px;
}

.about-popup-div .logotype {
    display: block;
    margin-top: 32px;
}

.manual-popup-div h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}

.manual-popup-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.manual-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.manual-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    line-height: 24px;
}

.manual-item0 p {
    max-width: 300px;
}

.start-button-example {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px 36px;
    border: 1px solid #FBFBFE;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FBFBFE;
    transition: transform 0.1s ease;
}

.start-button-example:hover, #game-start-button-example:hover {
    border: 1px solid #ED7E98;
    transform: translateX(-1px);
    color: #ED7E98;
}

.create-puzzle-button-example:hover, #game-create-puzzle-button-example:hover {
    svg {
        path {
            fill: #ED7E98;
        }
    }
    p {
        color: #ED7E98;
    }
}

.create-puzzle-button-example {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}

.create-puzzle-button-example p {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.manual-item2 div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}


input[type='radio'] {
    display: none;
}

input[type="radio"] + label {
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

input[type="radio"] + label::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 2px solid rgba(237, 126, 152, 0.8);
    border-radius: 50%; 
}

input[type="radio"]:checked + label::before {
    background: rgba(98, 233, 83, 0.8);
    border: none;
}

input[type="radio"]:checked + label, #game-manual-item2 input[type="radio"]:checked + label {
    color: #62E953;
}

.count-words-input-example {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 16px;
    border-radius: 15px;
}

.count-words-input-example p {
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.count-words-input-example input {
    box-sizing: border-box;
    width: 58px;
    height: 24px;
    border: 2px solid #513888;
    background: transparent;
    border-radius: 50px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.count-words-input-example input:focus{
    outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.generate-button-example {
    box-sizing: border-box;
    padding: 12px 36px;
    background: #62E953;
    border: 1px solid #62E953;
    border-radius: 15px;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.generate-button-example:hover {
    border: 1px solid #ED7E98;
    color: #ED7E98;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

.theme-change-manual {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.theme-change-manual p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.theme-changer-example {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 16px;
    background: #FBFBFE;
    border-radius: 15px;
}

.theme-changer-example svg, #game-theme-changer-example svg {
    cursor: pointer;
}

.theme-changer-example svg:hover, #game-theme-changer-example svg:hover {
    path {
        stroke: #ED7E98;
    }
}


.sign-in-up-wrapper {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
}


.signInUp-back, .personal-account-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    z-index: -1; 
}

.register-form, .login-form {
    position: relative;
}

.register-account, .login-account {
    display: inline-block;
    padding: 55px;
    background: #2F2D38;
    border-radius: 15px;
    margin-left: 30px;
    width: 530px;
}

.register-account-info, .login-account-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.back-to-main-page {
    cursor: pointer;
    display: block;
}

.back-to-main-page:hover path{
    stroke:#ED7E98;
    transition: stroke 0.2s ease;
}

.register-title, .login-title {
    display: block;
    line-height: 1;
    margin: 15px 0 55px 0;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.5px;
    align-self: center;
}

.if-have-account, .if-have-not-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 55px;
}

.if-have-account p, .if-have-not-account p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.sign-in-button, .sign-up-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    background-color: transparent;
    border: none;
    font-family: 'Roboto Slab';
    font-style: normal;
    cursor: pointer;
}

.sign-in-button:hover, .sign-up-button:hover {
    color:#ED7E98;
    transition: color 0.2s ease;
}

.reg-input-data, .log-input-data {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.reg-input-data {
    margin-bottom: 55px;
}

.reg-login-input, .reg-password-input,
.log-login-input, .log-password-input {
    flex: 1;
    border-radius: 15px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    padding: 10px 24px;
    border: none;
}

.reg-password-input, .log-password-input {
    padding: 0;
    border-radius: 0;
}

.reg-login-input:focus, .reg-password-input:focus,
.log-login-input:focus, .log-password-input:focus {
    outline: none;
}

.reg-input-password-div, .log-input-password-div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    border-radius: 15px;
    padding: 10px 24px;
}

.eye-closed, .eye-open {
    display: block;
    cursor: pointer;
    flex-shrink: 0; 
}

.birthday-role-gender-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

.reg-birthday-input {
    width: 130px;
    max-height: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 24px;
    position: relative;
}

.reg-birthday-input input {
    outline: none;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    border: none;
    appearance: none;
}


.reg-birthday-input input::-webkit-calendar-picker-indicator {
    margin-left: -11px;
    opacity: 0;
}

.reg-birthday-input svg {
    display: block;
    position: absolute;
    top: 10px;
    right: 24px;
    pointer-events: none;
}

.reg-role, .reg-gender {
    display: flex;
    align-items: center;
    border-radius: 15px;
    position: relative;
    width: auto;
}

.reg-role {
    padding: 10px 24px;
}

.reg-role-select, .reg-gender-select {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none; 
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right 0px center; 
    background-size: 24px 24px; 
}

.reg-role-select {
    width: 170px;
}

.reg-gender {
    padding: 10px 13px;
}

.reg-gender-select{
    width: 70px;
}

.reg-role-select option:checked, .reg-gender-select option:checked {
    background: #62E953; 
}

.create-account-message, .login-message {
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 25px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color:#14c700;
}

.create-account-button, .login-account-button {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 36px;
    border-radius: 15px;
    background: transparent;
    cursor: pointer;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
}

.create-account-button {
    margin-top: 190px;

}

.login-account-button {
    margin-top: 110px;
}

.create-account-button:hover,
.login-account-button:hover {
    border-color: #ED7E98;
    color: #ED7E98;
}

.sign-up-logotype {
    position: absolute;
    top: 30px;
    right: 30px;
}

.sign-up-theme-changer {
    position: absolute;
    right: 30px;
    bottom: 30px;
}



.personal-account-main {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-account-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 50px;
    border-radius: 15px;
    max-width: 800px;
}

.about-account-info h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    align-self: center;
    letter-spacing: 0.5px;
}

.account-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 30px;
    gap: 15px;
}

.main-info-about-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 32px;
    gap: 5px;
    letter-spacing: 0.5px;
}


.user-login-email-password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 30px;
    gap: 15px;
}

.user-login-email-password p {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
}

.change-userdata {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
}

.userdata-input-changer {
    box-sizing: border-box;
    display: flex;
    background: transparent;
    border: none;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 0.5px;
    padding: 0px;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.userdata-input-changer:focus {
    outline: none;
}

.user-role-and-gender {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-role, .user-gender {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.user-password {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.user-password {
    padding: 0;
}

.user-password p, .admin-stats p, .user-role-and-gender p {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
}

.password-edit-icon {
    cursor: pointer;
}

.password-edit-icon:hover path{
    stroke: #ED7E98;
    transition: stroke 0.2s ease;
}

.password-edit-icon:active path{
    stroke: #ED7E98;
    opacity: 0.75;
}

.admin-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
}

.personal-account-theme-changer {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.account-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.log-out-button, .update-account-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 36px;
    margin: 0 auto;
    border: 1px solid #ED7E98;
    border-radius: 15px;
    background: transparent;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #ED7E98;
    cursor: pointer;
}

.update-account-button:hover {
    color:#14c700;
    border: 1px solid #14c700;
    transition: color 0.5s ease, border 0.5s ease;
}

.log-out-button:active, .update-account-button:active {
    opacity: 0.75;
}

.personal-account-logotype {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}


.game-generator {
    width: 100%;
    height: 100vh;
    background-color: #14c700;
}


#game-main-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#game-logotype {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.game-theme-changer {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.game-generator-slidebar-hidden, .game-generator-slidebar-visible {
    display: flex;
    position: absolute;
    left: 20px;
    top: 50%;
    
    transform: translateY(-50%);
    background: rgba(81, 56, 136, 0.8);
    border-radius: 15px;
    overflow: hidden;
    padding: 0;
    max-width: 0;
    opacity: 0;
    transition: max-width 0.7s ease, opacity 0.2s ease, padding 0.2s ease;
    white-space: nowrap;
}

.game-generator-slidebar-hidden.visible, .game-generator-slidebar-visible.visible {
    max-width: 100vw;
    opacity: 1;
    padding: 24px;
    z-index: 10;
}

.generator-slidebar-visible, .generator-slidebar-hidden {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.game-menu-handler, .game-puzzle-creator, .game-my-puzzles {
    display: flex;
    cursor: pointer;
}

.game-menu-handler:hover, .game-my-puzzles:hover {
    svg path {
        stroke: #ED7E98;
        transition: stroke 0.2s ease;
    }
}

.game-puzzle-creator:hover {
    svg path {
        fill: #ED7E98;
        transition: fill 0.2s ease;
    }
}

.game-menu-handler-open, .game-puzzle-creator-open, .game-my-puzzles-open {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    p {
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.5px;
        color: #FBFBFE;
    }
}

.game-puzzle-creator-open:hover {
    svg path {
        fill: #ED7E98;
        transition: fill 0.2s ease;
    }
    p {
        color: #ED7E98;
        transition: color 0.2s ease;
    }
}


.game-menu-handler-open:hover {
    rect {
        fill: #ED7E98;
        transition: fill 0.2s ease;
    }
    p {
        color: #ED7E98;
        transition: color 0.2s ease;
    }
}

.game-my-puzzles-open:hover {
    svg path {
        stroke: #ED7E98;
        transition: stroke 0.2s ease;
    }
    p {
        color: #ED7E98;
        transition: color 0.2s ease;
    }
}


.creating-puzzle-input-data.hidden {
    max-height: 0;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    opacity: 0;
    margin-top: -16px;
    transition: 
    padding 0.4s ease, 
    max-height 0.4s ease, 
    opacity 0.4s ease, 
    margin-top 0.4s ease, 
    background-color 0.5s ease, 
    color 0.5s ease;
}

.creating-puzzle-input-data.visible {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border-radius: 15px;
    opacity: 1;
    transition: 
    padding 0.4s ease, 
    max-height 0.4s ease, 
    opacity 0.4s ease, 
    margin-top 0.4s ease, 
    background-color 0.5s ease, 
    color 0.5s ease;
}

#crossword-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#crossword-form h2 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    align-self: center;
}

.input-puzzle-name {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-align: center;
    background-color: transparent;
    border-radius: 50px;
    border: 3px solid #513888;
    margin-bottom: 20px;
}

.input-puzzle-name:focus {
    outline: none;
}

.input-type-of-puzzle, .input-interaction-format {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
}

.input-puzzle-size {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 20px;
}

.input-puzzle-size input {
    box-sizing: border-box;
    display: flex;
    width: 68px;
    text-align: center;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #513888;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.5px;
    text-align: center;
}

.input-puzzle-size input:focus {
    outline: none;
}

.generate-puzzle-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 34px;
    background: #62E953;
    border: 2px solid transparent;
    border-radius: 15px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.generate-puzzle-button:hover {
    color: #ED7E98;  
    border: 2px solid #ED7E98;  
    transition: all 0.2s ease;
}

.generate-puzzle-button:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0s;
}

.open-full-settings-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: #ED7E98;
    border-radius: 15px;
    border: none;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FBFBFE;
    margin-bottom: 40px;
}

.topic-input, .text-input {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    background: rgba(81, 56, 136, 0.8);
    border-radius: 15px;
    margin-top: 15px;
}

.topic-input input {
    width: 100%;
    box-sizing: border-box;
    background: rgba(47, 45, 56, 0.8);
    border: 2px solid #FBFBFE;
    border-radius: 25px;
    font-family: 'Roboto Slab';
    font-style: normal;
    text-align: center;
    padding: 0 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
    letter-spacing: 0.5px;
}

.text-input-textarea {
    box-sizing: border-box;
    resize: none; 
    border: 2px solid #FBFBFE;
    border-radius: 25px; 
    padding: 10px; 
    font-family: 'Roboto Slab';
    font-style: normal;
    text-align: left;
    font-weight: 400;
    font-size: 16px; 
    line-height: 1.2;
    overflow-y: auto;
    min-width: 100%;
    width: 100%;
    min-height: 100px;
    height: 100px;
}

.topic-input input:focus, .text-input-textarea:focus {
    outline: none;
}

.text-input-textarea::-webkit-scrollbar {
    width: 8px;
    display: none;
}

.text-input-textarea::-webkit-scrollbar-track {
    background: rgba(81, 56, 136, 0.5); 
    border-radius: 5px; 
}

.text-input-textarea::-webkit-scrollbar-thumb {
    background: #8663d4; 
    border-radius: 5px; 
}

.text-input-textarea::-webkit-scrollbar-thumb:hover {
    background: #a081e6; 
}

.file-input {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(81, 56, 136, 0.8); 
    border-radius: 15px; 
    width: 100%; 
    height: 48px; 
    cursor: pointer;
    position: relative;
}

.file-input input[type="file"] {
    opacity: 0; 
    position: absolute; 
    width: 100%;
    height: 100%;
    cursor: pointer; 
}

.file-input-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #624599; 
    border-radius: 12px; 
    cursor: pointer;
}

.file-input-label svg {
    width: 32px;
    height: 32px;
}