@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

.background-video-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    z-index: -1; 
}

.main-logo-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    z-index: 10;
}

.main-logo-title svg {
    display: block;
}

.main-logo-title h1 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
}

.theme-changer-main-page {
    position: absolute;
    left: 30px;
    bottom: 20px;
}