@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.background-video-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    overflow: hidden;
    z-index: -1000; 
}

.ellipse-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 86%;     
    height: 93%; 
    background: #9B88F1;
    border-radius: 30%;
    filter: blur(100px);  
    z-index: -10;          
    pointer-events: none;
}

.ellipse-bg.red {
    width: 86%;     
    height: 93%; 
    border-radius:30%;
    background: rgba(237, 126, 152, 1);
}


.main-logo-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 52%;
    z-index: -1;
}

.main-logo-title svg {
    display: block;
    width: 100%;
}

.theme-changer-main-page {
    position: absolute;
    left: 30px;
    bottom: 20px;
}

@media (max-width: 1200px) {
    .main-logo-title {
        width: 70%;
    }
}

@media (max-width: 820px) {
    

    .main-logo-title {
        width: 70%;
    }

    .main-logo-title svg {
        max-width: 100%;
    }

    .theme-changer-main-page {
        left: 15px;
        bottom: 15px;
    }

    .ellipse-bg {
        width: 93%;     
        height: 86%; 
        border-radius: 10%;
        filter: blur(50px);  
    }

    .ellipse-bg.red {
        width: 93%;     
        height: 86%; 
        border-radius: 10%;
    }
}