@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#game-manual-popup {
    background: rgba(81, 56, 136, 0.8);
}

#game-start-button-example:hover {
    border: 1px solid #ED7E98;
    transform: translateX(-1px);
    color: #ED7E98;
}

#game-create-puzzle-button-example:hover {
    svg {
        path {
            fill: #ED7E98;
        }
    }
    p {
        color: #ED7E98;
    }
}

#game-manual-item2 input[type="radio"]:checked + label {
    color: #62E953;
}

#game-theme-changer-example svg {
    cursor: pointer;
}

#game-theme-changer-example svg:hover {
    path {
        stroke: #ED7E98;
    }
}

.manual-popup {
    position: absolute;
    left: 50%;
    top: 0;
    padding: 56px 12px 12px 12px;
    border-radius: 15px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s ease;
}

.manual-popup.visible{
    opacity: 1;
    visibility: visible;
    animation: fadeIn 0.3s ease forwards;
}

.manual-popup.hidden {
    animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, 0);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    to {
        opacity: 0;
        transform: translate(-50%, 0);
    }
}

.manual-popup-div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 9px;
    width: 800px;
    max-height: 70vh;
    overflow-y: auto;
    border: 2px solid;
}

.manual-popup-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: start;
}

.manual-popup-paragraphs h3, .manual-popup-paragraphs p {
    font-size: 20px;
}

.manual-popup-paragraphs h3 {
    font-weight: 600;
    font-size: 22px;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.manual-popup-paragraphs-divider {
    height: 2px;
}


@media (max-width: 820px) {
    .manual-popup {
        padding: 42px 6px 6px 6px;
        border-radius: 10px;
    }

    .manual-popup-div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        padding: 10px;
        border-radius: 10px;
        width: 85vw;
        max-height: 600px;
        scrollbar-width: none;
        border: 1px solid;
    }

    .manual-popup-paragraphs {
        gap: 10px;
    }

    .manual-popup-paragraphs h3, .manual-popup-paragraphs p {
        font-size: 16px;
    }

    .manual-popup-paragraphs h3 {
        font-weight: 600;
        font-size: 16px;
        text-decoration: underline;
        text-underline-offset: 10px;
    }

    .manual-popup-paragraphs-divider {
        height: 1px;
    }
}