@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.loading-spinner-profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #513888;
    align-items: center;
    justify-content: center;
}

.loading-spinner-profile svg{
    width: 95%;
    height: 95%;
    animation: spin 2s linear infinite;
    transform-origin: center;
    backface-visibility: hidden;
    will-change: transform;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.personal-account-main {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.profile-info-left {
    width: 400px;
}

.profile-and-games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 75vh;
    max-width: 95vw;
    overflow-y: auto;
    scrollbar-width: none;
}

.personal-account-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    z-index: -1; 
    
}

.about-account-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 14px;
    border-radius: 15px;
    height: calc(100% - 64px);
    max-height: calc(100% - 64px);
    overflow: hidden;
}

.about-account-info::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.about-account-info::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}


.profile-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    margin-bottom: 40px;
    flex: 0 0 auto;
}

.profile-title h1 {
    font-size: 32px;
    line-height: 1.5;
    display: flex;
    align-self: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.user-data {
    width: 95%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.user-data-item {
    position: relative;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(100% - 16px);
}

.user-data-item p:first-child {
    font-size: 20px;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.userdata-input-changer {
    box-sizing: border-box;
    display: flex;
    background: transparent;
    border: none;
    font-size: 22px;
    line-height: 1.5;
    align-items: center;
    padding: 0px;
}

.userdata-input-changer:focus {
    outline: none;
}

.user-data-role .reg-role {
    display: flex;
    align-items: center;
    border-radius: 15px;
    position: relative;
    width: auto;
    flex: 1;
}


.user-data-role .reg-role, .user-data-gender .reg-gender {
    padding: 5px 5px;
    border-radius: 10px;
}

.user-data-role .reg-role-select, .user-data-gender .reg-gender-select {
    font-size: 20px;
}

.reg-role-select {
    font-size: 16px;
    line-height: 1.5;
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none; 
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right 0px center; 
    background-size: 24px 24px; 
    flex: 1;
}

.reg-role-select {
    width: 170px;
}

.reg-gender {
    display: flex;
    align-items: center;
    border-radius: 15px;
    position: relative;
    width: auto;
    flex: 2;
}

.reg-gender {
    padding: 10px 24px;
}

.reg-gender-select {
    font-size: 16px;
    line-height: 1.5;
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none; 
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right 0px center; 
    background-size: 24px 24px; 
    flex: 1;
}

.reg-gender-select{
    width: 70px;
}

.reg-gender-select option:checked {
    background: #62E953; 
}

.admin-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
}

.account-buttons {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 10px;
    align-items: center;
    align-self: center;
    margin-top: auto;
}

.log-out-button, .update-account-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 18px;
    border-radius: 10px;
    background: transparent;
    font-size: 20px;
    line-height: 1.5;
    display: flex;
    flex: 1;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.log-out-button:hover, .update-account-button:hover {
    transform: scale(1.02);
    transition: transform 0.1s ease;
}

.log-out-button:active, .update-account-button:active {
    transform: scale(0.98);
}

.personal-account-theme-changer {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.personal-account-logotype {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 60px;
}


@media (max-width: 500px) {

    .about-account-info {
        width: 100%;
    }

    .profile-and-games {
        height: 80vh;
    }

    .profile-title h1 {
        font-size: 20px;
        line-height: 1.5;
    }

    .user-data-item p:first-child {
        font-size: 18px;
    }

    .userdata-input-changer {
        font-size: 18px;
    }


    .user-data-role .reg-role-select, .user-data-gender .reg-gender-select {
        font-size: 18px;
        background-size: 20px;
        padding: 0 10px;
        background-position: calc(100% - 10px);
    }

    .reg-role-select option:not(:first-child), .reg-gender-select option:not(:first-child){
        font-size: 18px;
    }

    .log-out-button, .update-account-button {
        padding: 6px 10px;
        border-radius: 10px;
        font-size: 18px;
        line-height: 1.5;
    }
    
    .personal-account-theme-changer {
        bottom: 15px;
        left: 15px;
    }

    .personal-account-logotype {
        display: none;
    }
}

@media (max-width: 1400px) and (min-width: 821px) {
    .profile-and-games {
        height: 70vh;
    }
}

@media (max-width: 820px) and (min-width: 501px) {
    .profile-and-games {
        height: 70vh;
    }

    .profile-title h1 {
        font-size: 22px;
    }

    .user-data-item p:first-child {
        font-size: 20px;
    }

    .userdata-input-changer {
        font-size: 20px;
    }


    .user-data-role .reg-role-select, .user-data-gender .reg-gender-select {
        font-size: 20px;
    }

    .reg-role-select option:not(:first-child), .reg-gender-select option:not(:first-child){
        font-size: 20px;
    }
}