@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.register-account {
    display: inline-block;
    padding: 28px;
    background: #2F2D38;
    border-radius: 20px;
    margin: auto;
    width: 530px;
    overflow: hidden;
}


.register-account::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.register-account::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

.register-account-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.back-to-main-page {
    cursor: pointer;
    display: block;
    width: 30px;
}

.create-and-exit-buttons {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.back-to-main-page:hover path{
    stroke:#ED7E98;
    transition: stroke 0.2s ease;
}

.register-title {
    display: block;
    width: 100%;
    margin: 15px auto 55px auto;
    font-size: 40px;
    font-weight: 500;
    align-self: center;
    text-align: center;
}

.if-have-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.if-have-account p {
    font-size: 20px;
}

.sign-in-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sign-in-button:hover {
    color: #14c700;
    transition: color 0.2s ease;
}

.register-form {
    position: relative;
}

.reg-input-data {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.reg-input-data {
    margin-bottom: 30px;
}

.reg-login-input, .reg-password-input {
    flex: 1;
    border-radius: 15px;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border: none;
}

.reg-login-input:focus, .reg-password-input:focus {
    outline: none;
}

.reg-input-password-div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    border-radius: 15px;
    padding: 10px 12px;
}

.reg-password-input {
    padding: 0;
    border-radius: 0;
}

.eye-open, .eye-closed {
    display: block;
    cursor: pointer;
    flex-shrink: 0; 
    width: 27px;
    height: 27px;
}

.birthday-role-gender-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.reg-birthday-input {
    width: 130px;
    max-height: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: relative;
}

.reg-birthday-input input {
    outline: none;
    font-size: 18px;
    border: none;
    appearance: none;
}


.reg-birthday-input input::-webkit-calendar-picker-indicator {
    margin-left: -11px;
    opacity: 0;
}

.reg-birthday-input svg {
    display: block;
    position: absolute;
    top: 10px;
    right: 24px;
    pointer-events: none;
}

.birthday-role-gender-input .reg-role {
    display: flex;
    align-items: center;
    border-radius: 15px;
    position: relative;
    width: auto;
    flex: 3;
}

.birthday-role-gender-input .reg-role {
    padding: 10px 12px;
}

.reg-role-select {
    font-size: 18px;
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none; 
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right 0px center; 
    background-size: 27px 27px; 
    flex: 1;
}

.reg-role-select.registr {
    font-size: 18px;
}

.reg-role-select {
    width: 170px;
}

.reg-role-select option:checked {
    background: #ED7E98; 
}

.birthday-role-gender-input .reg-gender {
    display: flex;
    align-items: center;
    border-radius: 15px;
    position: relative;
    width: auto;
    flex: 2;
}

.birthday-role-gender-input .reg-gender {
    padding: 10px 12px;
}

.reg-gender-select {
    font-size: 18px;
    line-height: 1.5;
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none; 
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right 0px center; 
    background-size: 24px 24px; 
    flex: 1;
}

.reg-gender-select.registr {
    font-size: 18px;
}

.reg-gender-select{
    width: 70px;
}

.reg-gender-select option:checked {
    background: #62E953; 
}

.create-account-message {
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500;
    color:#ED7E98;
}

.create-account-button, .back-to-main-page-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 35px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.back-to-main-page-button {
    gap: 10px;
    padding-left: 25px;
    background-color: #FBFBFE;
}



@media (max-width: 549px) {
    .register-account {
        width: calc(95% - 30px);
        max-width: 85%;
        padding: 15px;
        margin: auto auto;
    }

    .back-to-main-page { 
        width: 30px;
        height: 30px;
    }

    .register-title {
        line-height: 1.5;
        margin: 10px 0 50px 0;
        font-size: 22px;
    }

    .if-have-account {
        gap: 5px;
        margin-bottom: 15px;
    }

    .if-have-account p {
        font-size: 16px;
        line-height: 1.5;
    }

    .sign-in-button {
        font-size: 16px;
        line-height: 1.5;
    }
    
    .reg-input-data {
        gap: 15px;
        margin-bottom: 15px;
    }

    .reg-login-input, .reg-password-input {
        border-radius: 10px;
        font-size: 16px;
        line-height: 1.5;
        padding: 5px 10px;
    }

    .reg-input-password-div {
        border-radius: 10px;
        padding: 0;
    }

    .eye-open, .eye-closed {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .birthday-role-gender-input {
        gap: 10px;
    }

    .birthday-role-gender-input .reg-role {
        border-radius: 10px;
        padding: 5px 12px;
        max-width: calc(62% - 25px);
    }
    
    .birthday-role-gender-input .reg-role .reg-role-select {
        font-size: 16px;
        line-height: 1.5;
        background-size: 20px 20px; 
    }
    
    .birthday-role-gender-input .reg-gender {
        border-radius: 10px;
        flex: 1;
        padding: 5px 10px;
    }
    
    
    .birthday-role-gender-input .reg-gender .reg-gender-select {
        font-size: 16px;
        line-height: 1.5;
        background-size: 20px 20px;
    }

    .create-account-message {
        margin-top: 25px;
        font-size: 16px;
        line-height: 1.5;
    }
    
    .create-and-exit-buttons {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .create-account-button, .back-to-main-page-button {
        padding: 3px 10px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 500;
        width: 100%;
        line-height: 1.5;
    }

    .back-to-main-page-button {
        gap: 5px;
        padding: 1px 8px;
    }

    .back-to-main-page-button svg {
        width: 24px;
    }
}



@media (max-width: 820px) and (min-width: 550px) {
    .register-account {
        width: calc(70% - 50px);
        max-width: 85%;
        padding: 25px;
        margin: auto auto;
    }

    .back-to-main-page { 
        width: 35px;
        height: 35px;
    }

    .register-title {
        line-height: 1.5;
        margin: 10px 0 50px 0;
        font-size: 28px;
    }

    .if-have-account {
        gap: 10px;
        margin-bottom: 20px;
    }

    .sign-in-button {
        font-size: 20px;
        line-height: 1.5;
    }

    .if-have-account p {
        font-size: 20px;
        line-height: 1.5;
    }
    
    .reg-input-data {
        gap: 15px;
        margin-bottom: 15px;
    }

    .reg-login-input, .reg-password-input {
        border-radius: 10px;
        font-size: 20px;
        line-height: 1.5;
        padding: 5px 10px;
    }

    .reg-input-password-div {
        border-radius: 10px;
        padding: 0;
    }

    .eye-open, .eye-closed {
        width: 22px;
        height: 22px;
        margin-right: 10px;
    }

    .birthday-role-gender-input {
        gap: 10px;
    }

    .birthday-role-gender-input .reg-role {
        border-radius: 10px;
        padding: 5px 12px;
        max-width: calc(70% - 24px);
    }

    .birthday-role-gender-input .reg-role .reg-role-select {
        font-size: 20px;
        line-height: 1.5;
        background-size: 24px 24px; 
    }
    
    .reg-role-select {
        font-size: 16px;
        line-height: 1.5;
        background-size: 23px 23px; 
    }
    
    .birthday-role-gender-input .reg-gender {
        border-radius: 10px;
        flex: 1;
        padding: 5px 10px;
    }
    
    .birthday-role-gender-input .reg-gender .reg-gender-select {
        font-size: 20px;
        line-height: 1.5;
        background-size: 24px 24px;
    }

    .create-account-message {
        margin-top: 25px;
        font-size: 20px;
        line-height: 1.5;
    }
    
    .reg-gender-select {
        font-size: 16px;
        line-height: 1.5;
        background-size: 23px 23px;
    }
    
    .create-and-exit-buttons {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .create-account-button, .back-to-main-page-button {
        padding: 3px 10px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 500;
        width: 100%;
        line-height: 1.5;
    }

    .back-to-main-page-button {
        gap: 5px;
        padding: 1px 8px;
    }

    .back-to-main-page-button svg {
        width: 24px;
    }
}