@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.login-account {
    display: inline-block;
    padding: 55px;
    background: #2F2D38;
    border-radius: 20px;
    margin: auto;
    width: 530px;
}

.login-account::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.login-account::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}


.login-account-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.back-to-main-page {
    cursor: pointer;
    display: block;
    width: 30px;
}

.back-to-main-page:hover path{
    stroke:#ED7E98;
    transition: stroke 0.2s ease;
}

.login-title {
    display: block;
    line-height: 1.5;
    margin: 15px 0 55px 0;
    font-size: 56px;
    align-self: center;
}

.if-have-not-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 55px;
}

.if-have-not-account p {
    font-size: 16px;
    line-height: 1.5;
}

.sign-up-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 16px;
    line-height: 1.5;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sign-up-button:hover {
    color:#ED7E98;
    transition: color 0.2s ease;
}

.login-form {
    position: relative;
}

.log-input-data {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.log-login-input {
    flex: 1;
    border-radius: 15px;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    padding: 10px 24px;
    border: none;
}

.log-login-input:focus {
    outline: none;
}

.log-input-password-div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    border-radius: 15px;
    padding: 10px 24px;
}

.log-password-input {
    flex: 1;
    border-radius: 15px;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    padding: 10px 24px;
    border: none;
}

.log-password-input {
    padding: 0;
    border-radius: 0;
}

.log-password-input:focus {
    outline: none;
}

.eye-open, .eye-closed {
    display: block;
    cursor: pointer;
    flex-shrink: 0; 
    width: 24px;        
    height: 24px;
}

.login-message {
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
    line-height: 1.5;
    color:#14c700;
}

.login-account-button {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 36px;
    border-radius: 15px;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
}

.login-account-button {
    margin-top: 110px;
}

.login-account-button:hover {
    border-color: #ED7E98;
    color: #ED7E98;
}


@media (max-width: 500px) {
    .login-account {
        width: calc(90% - 50px);
        max-width: 85%;
        padding: 25px;
        margin: auto auto;
    }

    .back-to-main-page { 
        width: 30px;
        height: 30px;
    }

    .login-title {
        line-height: 1.5;
        margin: 10px 0 30px 0;
        font-size: 24px;
    }

    .if-have-not-account {
        gap: 10px;
        margin-bottom: 28px;
    }

    .if-have-not-account p {
        font-size: 14px;
        line-height: 1.5;
    }

    .sign-up-button {
        font-size: 14px;
        line-height: 1.5;
    }
    
    .log-input-data {
        gap: 15px;
        margin-bottom: 25px;
    }

    .log-login-input, .log-password-input {
        border-radius: 10px;
        font-size: 14px;
        line-height: 1.5;
        padding: 5px 15px;
    }

    .log-input-password-div {
        border-radius: 10px;
        padding: 0;
    }

    .eye-open, .eye-closed {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .login-message {
        margin-top: 25px;
        font-size: 14px;
        line-height: 1.5;
        color:#14c700;
    }
    
    .login-account-button {
        padding: 8px 20px;
        border-radius: 10px;
        font-size: 16px;
        line-height: 1.5;
        margin-top: 100px;
        margin-bottom: 20px;
    }
}



@media (max-width: 820px) and (min-width: 501px) {
    .login-account {
        width: calc(60% - 70px);
        max-width: 85%;
        padding: 35px;
        margin: auto auto;
    }

    .back-to-main-page { 
        width: 35px;
        height: 35px;
    }

    .login-title {
        line-height: 1.5;
        margin: 10px 0 30px 0;
        font-size: 26px;
    }

    .if-have-not-account {
        gap: 10px;
        margin-bottom: 28px;
    }
    
    .log-input-data {
        gap: 15px;
        margin-bottom: 25px;
    }

    .log-login-input, .log-password-input {
        border-radius: 10px;
        font-size: 16px;
        line-height: 1.5;
        padding: 5px 15px;
    }

    .log-input-password-div {
        border-radius: 10px;
        padding: 0;
    }

    .eye-open, .eye-closed {
        width: 22px;
        height: 22px;
        margin-right: 10px;
    }


    .login-message {
        margin-top: 25px;
        font-size: 16px;
        line-height: 1.5;
        color:#14c700;
    }
    
    .login-account-button {
        padding: 8px 20px;
        border-radius: 10px;
        font-size: 18px;
        line-height: 1.5;
        margin-top: 100px;
        margin-bottom: 20px;
    }
}
