@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: 'Roboto Slab';
    font-style: normal;
    letter-spacing: 0.5px;
    color: #FBFBFE;
}

header {
    position: relative;
    display: flex;
    background: rgba(47, 45, 56, 0.8);
    padding: 16px 32px;
    border-radius: 15px;
    max-width: 100%;
    width: fit-content; 
    z-index: 1000;
    margin: 20px auto 0 auto;
}

header button{
    padding: 11px 35px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FBFBFE;
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;
}

.start-button {
    border: 1px solid #FBFBFE;
    border-radius: 15px;
    margin-right: 20px;
}

.start-button:hover {
    border: 1px solid rgba(237, 126, 152, 0.8);
}

header button:hover {
    color: rgba(237, 126, 152, 0.8);
}

.start-button:active {
    border: 1px solid rgba(237, 126, 152, 0.8);
}

header button:active {
    color: rgba(237, 126, 152, 0.8);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.about-button.pressed, .manual-button.pressed {
    background: #FBFBFE;
    color: #2F2D38;
    border-radius: 15px;
}

.background-video-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    z-index: -1; 
}


.main-logo-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    z-index: 10;
}

.main-logo-title svg {
    display: block;
}

.main-logo-title h1 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
    color: rgba(47, 45, 56, 0.8);
}

.theme-changer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 15px 20px;
    position: absolute;
    left: 30px;
    bottom: 20px;
    background: rgba(47, 45, 56, 0.8);
    border-radius: 15px;
}

.theme-changer svg {
    display: block;
    cursor: pointer;
}

.theme-changer svg:hover {
    path {
        stroke: #ED7E98;
        stroke-opacity: 1.0;
    }
}

.theme-changer svg:active {
    path {
        stroke: #ED7E98;
        stroke-opacity: 0.7;
    }
}

.about-popup, .manual-popup {
    position: absolute;
    left: 50%;
    top: 0;
    padding: 80px 32px 16px 32px;
    background: #2F2D38;
    border-radius: 15px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s ease;
}

.about-popup.visible, .manual-popup.visible{
    opacity: 1;
    visibility: visible;
    animation: fadeIn 0.3s ease forwards;
}

.about-popup.hidden, .manual-popup.hidden {
    animation: fadeOut 0.3s ease forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -5px);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -5px);
    }
}


.about-popup-div, .manual-popup-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #513888;
    border-radius: 15px;
    width: 560px;
}

.about-popup-text h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.about-popup-text span {
    color: #ED7E98;
}

.about-popup-text .paragraph {
    margin-top: 16px;
}

.about-popup-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.about-popup-div .logotype {
    display: block;
    margin-top: 32px;
}

.manual-popup-div h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}

.manual-popup-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.manual-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.manual-item {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    gap: 16px;
    line-height: 24px;
}

.start-button-example {
    justify-content: center;
    align-items: center;
    padding: 12px 36px;
    border: 1px solid #FBFBFE;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FBFBFE;
    transition: transform 0.1s ease;
}

.start-button-example:hover {
    border: 1px solid #ED7E98;
    transform: translateX(-1px);
    color: #ED7E98;
}

.create-puzzle-button-example:hover {
    svg {
        path {
            fill: #ED7E98;
        }
    }
    p {
        color: #ED7E98;
        text-shadow: 0px 2px 4px black;
    }
}

.create-puzzle-button-example {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}

.create-puzzle-button-example p {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.manual-item2 div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}


.manual-item2 input[type='radio'] {
    display: none;
}

.manual-item2 input[type="radio"] + label {
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FBFBFE;

}

.manual-item2 input[type="radio"] + label::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: #2F2D38;
    border: 2px solid rgba(237, 126, 152, 0.8);
    border-radius: 50%; 
}

.manual-item2 input[type="radio"]:checked + label::before {
    background: rgba(98, 233, 83, 0.8);
    border: none;
}

input[type="radio"]:checked + label {
    color: #62E953;
}

.count-words-input-example {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 16px;
    background: #2F2D38;
    border-radius: 15px;
}

.count-words-input-example p {
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.count-words-input-example input {
    box-sizing: border-box;
    width: 58px;
    height: 24px;
    border: 2px solid #513888;
    background: transparent;
    border-radius: 50px;
    color: #FBFBFE;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.count-words-input-example input:focus{
    outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.generate-button-example {
    box-sizing: border-box;
    padding: 12px 36px;
    background: #62E953;
    border: 1px solid #62E953;
    border-radius: 15px;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #2F2D38;
    cursor: pointer;
}

.generate-button-example:hover {
    border: 1px solid #ED7E98;
    color: #ED7E98;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

.theme-change-manual {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.theme-change-manual p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.theme-changer-example {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 16px;
    background: #FBFBFE;
    border-radius: 15px;
}

.theme-changer-example svg {
    cursor: pointer;
}

.theme-changer-example svg:hover {
    path {
        stroke: #ED7E98;
    }
}
