@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: 'Roboto Slab';
    font-style: normal;
    letter-spacing: 0.5px;
    color: #FBFBFE;
}

header {
    position: relative;
    display: flex;
    background: rgba(47, 45, 56, 0.8);
    padding: 16px 32px;
    border-radius: 15px;
    max-width: 100%;
    width: fit-content; 
    z-index: 1000;
    margin: 20px auto 0 auto;
}

header button{
    padding: 11px 35px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FBFBFE;
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;
}

.start-button {
    border: 1px solid #FBFBFE;
    border-radius: 15px;
    margin-right: 20px;
}

.start-button:hover {
    border: 1px solid rgba(237, 126, 152, 0.8);
}

header button:hover {
    color: rgba(237, 126, 152, 0.8);
}

.start-button:active {
    border: 1px solid rgba(237, 126, 152, 0.8);
}

header button:active {
    color: rgba(237, 126, 152, 0.8);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}



.background-video-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    z-index: -1; 
}


.main-logo-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    z-index: 10;
}

.main-logo-title svg {
    display: block;
}

.main-logo-title h1 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
    color: rgba(47, 45, 56, 0.8);
}

.theme-changer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 15px 20px;
    position: absolute;
    left: 30px;
    bottom: 20px;
    background: rgba(47, 45, 56, 0.8);
    border-radius: 15px;
}

.theme-changer svg {
    display: block;
    cursor: pointer;
}

.theme-changer svg:hover {
    path {
        stroke: #ED7E98;
        stroke-opacity: 1.0;
    }
}

.theme-changer svg:active {
    path {
        stroke: #ED7E98;
        stroke-opacity: 0.7;
    }
}

.about-popup, .manual-popup {
    position: absolute;
    left: 50%;
    top: 0;
    padding: 80px 32px 16px 32px;
    background: #2F2D38;
    border-radius: 15px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s ease;
}

.about-popup.visible, .manual-popup.visible{
    opacity: 1;
    visibility: visible;
    animation: fadeIn 0.3s ease forwards;
}

.about-popup.hidden, .manual-popup.hidden {
    animation: fadeOut 0.3s ease forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -5px);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -5px);
    }
}


.about-popup-div, .manual-popup-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #513888;
    border-radius: 15px;
    width: 560px;
}

.about-popup-text h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.about-popup-text span {
    color: #ED7E98;
}

.about-popup-text .paragraph {
    margin-top: 16px;
}

.about-popup-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.about-popup-div .logotype {
    display: block;
    margin-top: 32px;
}


